body {
    background-color: rgb(255, 235, 205);
    color: black;
}
img {
    width: 10%;
}
#crc { 
    width: 2%;
}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-indent: 0cqh;
    font-style: italic;
}
strong {
    color: crimson;
}